.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 140px;
    /* width: 100vw; */
    background: linear-gradient(352deg,rgba(200, 129, 141, 1) 0%, rgba(245, 157, 110, 1) 100%);
}

.section1 h3 {
    color: aliceblue;

    font-size: 68px;
}