.Section1Sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    padding: 110px 0px 100px 0px;
    margin-top: -35px;

    background-color: #1E383A;;
}

.Section1Sobre_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px 40px;
    background-color: #0d4e52;
    border-radius: 30px;
    box-shadow: -11px 11px 1px 4px#ffff;
}

.Section1Sobre_titulo {
    color: aliceblue;
    font-size: clamp(22px, 3.2vw, 50px);
}

.Section1Sobre_texto_p {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 80vw;
    max-width: 700px;
    color: aliceblue;
    font-size: clamp(16px, 3.2vw, 18px);
}

.Section1Sobre_aba {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    height: 120px;
    background: linear-gradient(314deg,rgba(243, 151, 106, 1) 0%, rgba(240, 118, 123, 1) 100%);
    border-radius: 20px;
    margin-top: -20px;

    & h4 {
        text-align: center;
        font-size: clamp(20px, 2.8vw, 45px);
        color: aliceblue;
        text-shadow: 2px 3px 1px#000000;
    }
}

@media (max-width : 700px) {
    .Section1Sobre_texto {
        padding: 20px 20px;
        box-shadow: -6px 6px 1px 6px#ffff;
    }
}

@media (max-width : 400px) {
    .Section1Sobre_texto {
        padding: 20px 15px;
        box-shadow: -3px 3px 1px 2px#ffff;
    }
}