* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.Cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* width: 100vw; */
    height: 511px;
    gap: 50px;

    background-image: url('Cta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Cta h3 {
    font-weight: 900;
    font-size: 60px;
    color: #ffffff;
    width: 900px;
    text-align: center;
}

.Cta button {
    font-weight: 900;
    font-size: 25px;
    color: #161C35;

    width: 180px;
    height: 40px;
    border-radius: 30px;
    border: none;
}

@media (max-width: 1000px) {
    .Cta {
        height: auto;
        padding: 50px 0px;
    }
    .Cta h3 {
        font-size: 40px;
        width: 80vw;
        max-width: 700px;
    }
}

@media (max-width: 600px) {
    .Cta h3 {
        font-size: 35px;
        width: 80vw;
        max-width: 450px;
    }
}

@media (max-width: 400px) {
    .Cta h3 {
        font-size: 30px;
        width: 80vw;
        max-width: 300px;
    }
}

@media (max-width: 300px) {
    .Cta h3 {
        font-size: 24px;
        width: 80vw;
    }
}