.footer {
    /* width: 100vw; */
    /* height: auto; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: black;
    padding: 50px 0px;
}

.botoes1 {
    text-decoration: none;
    gap: 10px;

    display: flex;
    flex-direction: column;
}

.botoes1 h5{
    color: aliceblue;
}

.botoes2 p{
    color: aliceblue;
    width: auto;
    text-align: end;
}

@media (max-width: 400px) {
    .footer {
        flex-direction: column;
        justify-content: center;

        gap: 40px;
    }

    .botoes1 {
        text-align: center;
    }

    .botoes2 p {
        text-align: center;
    }
}