.section-palestrantes {
    /* width: 100vw; */
    height: auto;
    padding: 50px 0px 70px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(150deg,rgba(253, 243, 218, 1) 0%, rgba(255, 203, 157, 1) 100%);
}

.section-palestrantes-h3 {
    font-size: 30px;
    margin-bottom: 50px;
}

.section-palestrantes-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 1270px;
}

@media (max-width: 600px) {
    .section-palestrantes-cards {
        height: 1950px;
    }
}