.Administrativo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 100px 0px 130px 0px;
    margin-top: -30px;

    background: rgba(171, 182, 235, 1);
}

.Sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0px;

    background-color: aliceblue;
    border: 3px solid #6969aa;
    box-shadow: 3px 3px 0px 3px #6969aa;
    border-radius: 10px;

    & button {
        background-color: aliceblue;
        border: 2px solid #6969aa;
        border-radius: 20px;
        padding: 5px 20px;
        color: #404082;
        font-weight: 700;
        cursor: pointer;
        margin: 10px 20px;
    }
}

.SignIn_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 10px 20px;

    & input {
        border: 2px solid #b0b0ff;
        border-radius: 20px;
        height: 25px;
    }

    & h5 {
        color: #404082;
        font-weight: 700;
        font-size: 18px;
    }
}

.Sign_Forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}