.Section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 1050px;
    width: 100vw;
    gap: 100px;
    margin-top: -40px;

    background: #F3976A;
    background: linear-gradient(314deg,rgba(240, 118, 123, 1) 0%, rgba(243, 151, 106, 1) 100%);
}

.Section3-linha1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 100px;
    margin-top: 80px;

    & img {
        width: 600px;
    }

    & h3 {
        font-weight: 700;
        color: aliceblue;
        font-size: 60px;
        width: 350px;
    }
}

.Section3-linha2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    gap: 100px;
    margin-bottom: 80px;

    & img {
        width: 600px;
    }

    & h3 {
        font-weight: 700;
        color: aliceblue;
        font-size: 60px;
        width: 350px;
        text-align: end;
    }
}

.Section3-aba {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    width: 100vw;
    height: 150px;
    background: #8D96C3;
    background: linear-gradient(314deg, #1E383A 0%, #586C6D 100%);
    border-radius: 50px;
    margin-top: -45px;

    position: relative;
    z-index: 1;

    & h3 {
        font-weight: 700;
        font-size: 80px;
        color: aliceblue;
        text-shadow: 0px 2px 5px #00000060;
    }
}