.Section2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: -50px;

    width: 100vw;
    height: 780px;
    gap: 80px;

    background-color: #1E383A;

    & img {
        /* margin-top: 50px; */
        height: 520px;
    }

    & p {
        width: 330px;
        color: aliceblue;
        font-weight: 700;
        font-size: 50px;
        margin-top: -25px;
    }
}

.Section2-aba {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    width: 100vw;
    height: 150px;
    background: #8D96C3;
    background: linear-gradient(314deg,rgba(141, 150, 195, 1) 0%, rgba(72, 81, 124, 1) 100%);
    border-radius: 50px;
    margin-top: -45px;

    position: relative;
    z-index: 1;

    & h3 {
        font-weight: 700;
        font-size: 80px;
        color: aliceblue;
        text-shadow: 0px 2px 5px #00000060;
    }
}