.Section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: -35px;

    width: 100vw;
    height: 800px;

    background-image: url('../../assets/home/fundo_section_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    & img {
        margin-top: -25px;
        width: 900px;
    }
}

.Section1-aba {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    width: 100vw;
    height: 150px;
    background: #F3976A;
    background: linear-gradient(314deg,rgba(243, 151, 106, 1) 0%, rgba(240, 118, 123, 1) 100%);
    border-radius: 30px;
    margin-top: -45px;

    position: relative;
    z-index: 1;

    & h3 {
        font-weight: 700;
        font-size: 80px;
        color: aliceblue;
        text-shadow: 0px 2px 5px #00000060;
    }
}

@media (max-width: 1100px) {
    .Section1 {
        width: 100vw;
        height: 750px;

        & img {
            margin-top: -25px;
            width: 80vw;
        }
    }

    .Section1-aba {
        width: 100vw;
        height: auto;
        padding: 30px 0px;
        margin-top: -45px;
        border-radius: 20px;
        & h3 {
            font-weight: 700;
            font-size: 65px;
            color: aliceblue;
            text-shadow: 0px 2px 5px #00000060;
        }
    }
}

@media (max-width: 800px) {
    .Section1-aba {
        width: 100vw;
        height: auto;
        padding: 25px 0px;
        margin-top: -45px;
        border-radius: 20px;
        & h3 {
            font-weight: 700;
            font-size: 45px;
        }
    }
}

@media (max-width: 560px) {
    .Section1 {
        width: 100vw;
        height: 500px;

        & img {
            margin-top: -5px;
            width: 80vw;
        }
    }

    .Section1-aba {
        width: 100vw;
        height: auto;
        padding: 25px 0px;
        margin-top: -45px;
        border-radius: 20px;
        & h3 {
            font-weight: 700;
            font-size: 35px;
        }
    }
}

@media (max-width: 450px) {
    .Section1 {
        width: 100vw;
        height: 500px;

        & img {
            margin-top: 0px;
            width: 80vw;
        }
    }

    .Section1-aba {
        width: 100vw;
        height: auto;
        padding: 25px 0px;
        margin-top: -45px;
        border-radius: 20px;
        & h3 {
            font-weight: 700;
            font-size: 30px;
        }
    }
}