.card-palestrante {
    border: #273455 5px solid;
    background-color: #F9FAFF;

    width: 250px;
    height: 300px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-palestrante img {
    width: 200px;
    border-radius: 10px;
}

.card-palestrante-texto {
    width: 200px;
    height: 105px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.card-palestrante-texto h4 {
    color: #48517C;
    font-weight: 900;
}

.card-palestrante-texto p {
    color: #48517C;
    font-weight: 500;
}

@media (max-width: 400px) {
    .card-palestrante {
        border: #273455 5px solid;
        background-color: #F9FAFF;

        width: 200px;
        height: 270px;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .card-palestrante img {
        width: 150px;
        border-radius: 10px;
    }

    .card-palestrante-texto {
        width: 150px;

        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}