* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.section {
    background-image: url('../assets/fundo1.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.logo1 {
    width: 770px;
    height: auto;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding-top: 20px;
}