* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.section {
    background-image: url('../assets/fundo1.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 50px 60px;
}

.logo1 {
    width: 770px;
    height: auto;
}

.logo-inscreva {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 92vw;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding-top: 20px;
}

@media (max-width: 1100px) {
.logo-inscreva {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 230px;
    width: 90vw;
}

.section {
    justify-content: center;
    gap: 10px;
    padding: 30px 15px;
    height: auto;
}
}

@media (max-width: 800px) {
    .logo1 {
    width: 90vw;
}
}

@media (max-width: 600px) {
.botoes {
    flex-direction: column;
}
}