.Section1Galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 110px 0px 160px 0px;

    background-color: aliceblue;
}

.pequenoExibidorDeFotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
        width: 25vw;
        max-width: 400px;
    }
}